[2020-08-01 16:27] pronei opened #1 "Support for CPUs with multiple cores"
Currently, the CPU usage grid displays the utilization in percentage for each individual logical core but is restricted to dual and quad core processors (with 4 and 8 logical cores assuming that HT is enabled).

A possible solution is to create an array with `termui.NewRow` objects whose width percentages are adjusted according to `numCores`. Unpacking this within the respective column in `mainPag

[2020-08-02 11:52] MadhavJivrajani opened #2 "Make overall stats into a struct type"
For cleaner and more maintainable code, would it be possible to make all the stats being rendered by the `grofer` command into a single struct type so that a new channel does not have to be created for every new type of metric being displayed? Only two channels can be passed to the `RenderCharts` function, `endChannel` and `dataChannel` and all functions that update these metrics could be part of

[2020-08-02 17:12] Gituser143 commented on #2
Although this might provide readability, it'll introduce heavy delays right? Because we'd have to update all metrics and then send it. What we're doing now is getting all metrics on separate routines and each of these routines communicates with the UI widget using a distinct channel.

[2020-08-02 17:29] MadhavJivrajani commented on #2
Hmm, that makes sense, but the functions that are in goroutines are formatting the information that was _sequentially_ fetched in the `GlobalStats` function. If more stats are added, it might be infeasible to continuously keep creating new channels for each metric

[2020-08-02 18:09] Gituser143 commented on #2
I see what you mean, as of now we could optimize the fetching of metrics by placing them in the functions that send them, but that wouldn't solve the issue of sending data through different channels. Maybe we could use a single channel for all the data and differentiate which widget they belong to on the receiving end?

[2020-08-03 09:52] MadhavJivrajani commented on #2
Hmm yeah that would be feasible, maybe a channel fo type `{}interface` as you mentioned and send structs with one field indicating which metric it belongs to

[2020-08-03 10:01] Gituser143 commented on #2
If we're using a struct might as well make the channel of that type right?

[2020-08-03 10:04] MadhavJivrajani commented on #2
If we're using a single data channel for communication, assuming we use a struct to differentiate the widget the data belongs to, data types of the fields of structs will differ right?

[2020-08-03 10:11] Gituser143 commented on #2
That can be handled easily I feel, if we use a struct like the one mentioned here:
[code]
We can send the struct with only one of the field values set and the variable `fieldSet` to a unique number which identifies the field. This way we just check the integer value set and extract from the specific field.

[2020-08-03 10:13] MadhavJivrajani commented on #2
Oh peace, that'll work great

[2020-08-03 10:25] Gituser143 commented on #1
@pronei any progress with this? If you're having an issue putting multiple gauges into the grid a fair approach would be to Initialise the gauges outside the grid. You can then have any number of gauges you want initialised and update them accordingly too.

[2020-08-03 13:51] #1 closed

[2020-08-03 14:44] tfidfwastaken opened #4 "Add directions to all the channels in the function signatures taking channel"
**Description**
In many functions, for example the two shown below, the channel data only flows in one direction.
https://github.com/pesos/grofer/blob/0c781a2c09128fe456a077781dcffa2d7513a208/src/general/generalStats.go#L31
https://github.com/pesos/grofer/blob/0c781a2c09128fe456a077781dcffa2d7513a208/src/graphs/overallGraphs.go#L120
For example, in `GlobalStats` , `endChannel` only has its data fl

[2020-08-03 15:11] Gituser143 commented on #4
@tfidfwastaken This isn't what's quite happening. You're not taking channel messages as arguments. If we end up doing so the program won't work for the simple reason that the argument itself will be a block, the code won't proceed. And if data does come in, the program exits.

It'll break the program is what I think.

[2020-08-03 15:23] tfidfwastaken commented on #4
Oh right my bad :p

I had written this one down before I fully understood how you are doing the channel thing here.

Thanks for clarifying. I think this should be closed.

[2020-08-03 15:26] Gituser143 commented on #4
Will wait for @MadhavJivrajani or @metonymic-smokey to confirm before closing.

[2020-08-03 15:31] pronei commented on #1
Seems good but there's a lot of flickering now. Not sure why though.

This was what I had initially tried but didn't work:
[code]
I'm pretty new to Go and am quite unfamiliar with how memory allocation works for objects that implement a certain interface.

[2020-08-03 15:34] MadhavJivrajani commented on #4
Go ahead

[2020-08-03 15:35] Gituser143 commented on #1
@pronei The flickering might be because of the high refresh rates. Maybe try increasing it on a local build?

[2020-08-03 15:37] #4 closed

[2020-08-03 15:54] Samyak2 opened #5 "[BUG] High CPU utilisation"
**Describe the bug**

`grofer proc` takes anywhere between 40-60% of a CPU core (measured using `grofer proc -p $(pidof grofer)` ). Looking through `htop`, the usage seems even higher, there are multiple grofer proc processes (5+) with two of them taking 60+10% CPU.

`grofer` uses 15-20% of a CPU core (again, measured through `grofer proc -p $(pidof grofer) `). htop reports the CPU usage to be 25%

[2020-08-03 16:34] tfidfwastaken opened #6 "Add automated testing"
**Describe the bug**
The lack of automated tests is a big deal, given that we are going to have a lot more external contributions. We need to add a good amount of tests that cover most of the code and also add a GitHub Actions workflow that runs those tests every time a PR is made, so that we do not have to worry about new commits breaking existing functionality. Passing tests should be a minimum

[2020-08-03 16:38] tfidfwastaken commented on #6
Removing the `good-first-issue` for the time being. It will be that only once the testing framework is decided upon and the first few tests are already written.

[2020-08-03 17:54] MadhavJivrajani opened #7 "[FEATURE REQ] need more cute ascii art error messages for invalid PIDs"
**Is your feature request related to a problem? Please describe.**
For the command `grofer proc -p PID`, if the PID is invalid, a doggo error message is displayed which lives in `src/utils/doggo.go`.
[code]

**Describe the solution you'd like**
If more ascii art can be added, every time there's an error, a new error message can be displayed by choosing a random number between 0 and n, n being the

[2020-08-03 18:13] tfidfwastaken opened #8 "Remove duplicate/ugly error messages"
**Describe the bug**
Everytime an invalid input is given the error message shows up twice.
Examples:
[code]

This seems to occur with every invalid input.

Moreover giving an argument of the wrong type will give an ugly error message, that is not meaningful to the user:
[code]

**To Reproduce**
Steps to reproduce the behavior:
- Give any input that is invalid
- Give a string for the PID flag field

[2020-08-03 18:30] Gituser143 opened #9 "Optimize data fetch from gopsutil"
Currently functions in generalStats.go just format and send data to the UI (`PrintCPURates()`, `PrintMemRates()`, `PrintDiskRates()`). Although they run concurrently, the data fed to these functions are fetched sequentially.

This can be made better by getting the data from within these functions itself and adding subsequent sleeps after all functions are called.

To then limit rate of influx of d

[2020-08-03 20:32] akeni commented on #9
Hi,

Can you explain what you want to make more efficient? From what I see, the get functions are called in an Async function and then the data is printed sequentially. You want to add a sleep function after the async functions are finished?

[2020-08-03 20:41] Gituser143 commented on #9
[code]
@akeni here you can see that the stats are first fetched sequentially from the `gopsutil` functions. The Print functions are concurrent but all they do is format the data and then send them onto the corresponding channel. A better approach would be to fetch the data inside the respective print functions itself.

This would avoid the sequential fetching of data and in theory speed up the fet

[2020-08-04 08:27] MadhavJivrajani opened #11 "[FEATURE REQ] package name `graphs` is not accurate"
**Is your feature request related to a problem? Please describe.**
The package `graphs` is inaccurately named since the info being displayed by the tool contains tables, lists, text, etc.

**Describe the solution you'd like**
Rename the directory `src/graphs/...` to `src/display/...`

**PR deliverables:**
- [ ] rename directory to a more appropriate name
- [ ] change import paths wherever necessar

[2020-08-04 12:24] nsankethreddy opened #13 "The CPU data visualization is not rendered properly"
# The visualization of the CPU data is rendered out of the screen

**To Reproduce**
Steps to reproduce the behavior:
(I use a 2 core 4 CPU system)
1. Go to ... /grofer/
2. Build the grofer code ```go build grofer.go```
3. Execute the newly created executable ```./grofer```
4. See error

**Expected behavior**
All the widgets to be rendered in the screen

**Screenshots**

![Screenshot from 2020-08-0

[2020-08-04 12:35] Gituser143 commented on #5
@Samyak2 @siddhantrao23 The last few commits to master made an attempt to lower CPU consumption for `grofer proc -p PID`, it also significantly lowered CPU for `grofer`. If you have any update or ideas for fixes, please update here too.

[2020-08-04 13:53] Gituser143 commented on #13
Changed `height := int(h / (numCores - 1))` to `height := int(h / numCores)` in overallGraphs.go to resolve issue

[2020-08-04 13:53] #13 closed

[2020-08-04 14:06] #9 closed

[2020-08-04 14:11] metonymic-smokey opened #14 "Grofer not supported on MacOS and Windows"
**Describe the bug**
The individual process stats feature of grofer does not work on MacOS.

**To Reproduce**
Steps to reproduce the behaviour:
Run `./grofer proc -p <pid>` as usual on a system running MacOS/Windows.

**Expected Behaviour**
Grofer should display process stats for the given PID like in Linux.

**Actual Behaviour**
On MacOS:
A runtime error with a segmentation violation.

**Desktop

[2020-08-04 14:27] MadhavJivrajani opened #15 "[FEATURE REQ] provide functionality for user defined refresh rates"
**Is your feature request related to a problem? Please describe.**
Currently, the UI refreshes at a default, hard-coded rate of 100 ms. A user-defined refresh rate would be beneficial.

**Describe the solution you'd like**
Add a persistent flag to the `root` command in `cmd/root.go` called `-r` or `--refresh` in long-form with a default value of 100 (ms).

**Additional context**
All commands creat

[2020-08-04 14:28] MadhavJivrajani commented on #15
Setting the priority of the issue to be high since the further set of features will depend on user-defined configurations

[2020-08-04 14:36] MadhavJivrajani commented on #14
For windows, this link might be useful: https://godoc.org/github.com/shirou/gopsutil/winservices

[2020-08-04 15:04] MadhavJivrajani commented on #6
I'll write a few basic tests to get us started on setting up a testing pipeline

[2020-08-04 15:09] anihm136 opened #16 "[FEATURE REQ] Add keybinding to kill processes"
Generally I use a system profiler to monitor processes taking up large amounts of system resources, which I would usually need to kill. Having a keybinding to kill a process from the proc page would be very helpful in this regard

**Describe the solution you'd like**
A simple single key keybinding to kill a highlighted process from within the proc page

**Describe alternatives you've considered if

[2020-08-04 15:33] tfidfwastaken opened #17 "Major memory leak: `grofer proc -p` on processes having RSS value of zero"
**Describe the bug**
Running `grofer proc -p <pid>` on any process that has RSS zero (usually all kernel processes seem to have RSS zero, along with stuff like some zombie processes) will cause a memory leak, which will rapidly fill up memory and freeze your device.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `top`
2. Identify the PID of any process having RSS as 0
3. Run ` grofer pr

[2020-08-04 18:45] #11 closed

[2020-08-04 20:08] Gituser143 commented on #6
Added Travis CI tests for building and Go formatting

[2020-08-04 20:08] #6 closed

[2020-08-04 20:13] Gituser143 opened #20 "Require more Go Tests for CI testing"
As of now the Travis tests are just to check if `go build grofer.go` succeeds and the code is formatted properly. We need go test files so that we can run some  `go test` commands on Travis.

[2020-08-04 20:43] MadhavJivrajani commented on #17
This seems to be happening due to a bug in termui's [code](https://github.com/gizak/termui/blob/master/v3/widgets/barchart.go)

maxVal fetched in the case of an idle kernel process will still be 0 and that'll cause all types of divide by zero errors but since UI is constantly rendering, those errors aren't coming up

[2020-08-05 04:49] tfidfwastaken commented on #17
Oh wow so this is an upstream error?

[2020-08-05 04:52] MadhavJivrajani commented on #17
Yes. I'll send a PR to termui but it doesn't look like the codebase is maintained anymore.

Worst case we'll fork it and make the necessary changes and use that as the upstream dependency

[2020-08-05 05:29] rfyiamcool opened #21 "[FEATURE REQ] please show detail cpu info, such as si,wa,us,sys"
see title, thank u.

[2020-08-05 06:10] tfidfwastaken commented on #17
Are you sure it is just the zero values?

When I hardcode 1.0 for all values in `memData` in the file `procGraph` I still am facing this problem.

[2020-08-05 07:27] yongruilin commented on #15
Hi @MadhavJivrajani , I found this repo very interesting. Can I have a try on this feature?  Should the default refresh rate all the same for OverallGraph and procGraph? It doesn't look good on the overallGraph with the refresh rate on 100ms.

[2020-08-05 07:38] Gituser143 commented on #15
@yongruilin let's keep the default refresh rates of the UI at 1000 milli seconds. Allow the user to give custom input in terms of seconds?

[2020-08-05 07:40] MadhavJivrajani commented on #15
Hey @yongruilin !
Yes, sure! I'll assign you to this issue, also could you elaborate on "doesn't look good"?

[2020-08-05 07:43] MadhavJivrajani commented on #15
@Gituser143 let the rate be provided in terms of ms itself. It'll give more fine-grained control in terms of refresh rates especially when we move to add features about exporting data

So maybe if 100 ms isn't working out, let the default be 1000 and then the user can adjust it as required.

[2020-08-05 07:46] Gituser143 commented on #15
@MadhavJivrajani I suggest we keep the minimum refresh rate of the UI as 1000 ms, while exporting stats, the UI refresh rate won't really matter to us right? In those cases we can lower it if needed.

[2020-08-05 07:50] MadhavJivrajani commented on #15
The refresh rate provided by the user, the same can be used to see how frequently data should be fetched and exported, sort of analogous to how frequently data will refresh on the UI

[2020-08-05 08:06] Gituser143 commented on #15
I agree with fetching and exporting of data, but keeping UI refresh rates lesser than 1000 ms would cause some glitches for the UI.

[2020-08-05 08:26] MadhavJivrajani commented on #15
@yongruilin, for now, let's keep the default refresh rate to be 1000 ms and the refresh rate should be provided in ms by the user. As @Gituser143 mentioned above, for the purposes of rendering and refreshing the UI, anything less than 1000 ms can get very heavy on the CPU. So instead of creating a `persistent flag` for refresh rate on the root command, maybe you could create non-persistent flags i

[2020-08-05 09:19] #17 closed

[2020-08-06 08:53] yongruilin commented on #15
@MadhavJivrajani
I don't think it is appropriate to have a non-persistent flag for refresh rate as it should be available everywhere [https://github.com/spf13/cobra/blob/master/README.md#persistent-flags](https://github.com/spf13/cobra/blob/master/README.md#persistent-flags)

Other wise it would panic with the same flag name in both root and children command.
[code]

[2020-08-06 09:05] MadhavJivrajani commented on #15
- If I understand correctly, in the cases of nonpersistent flags, cobra processes flags that are local only to the target command: https://github.com/spf13/cobra/blob/master/README.md#local-flags
- The error that you mentioned, I tried assigning non-persistent flags to the two commands without doing anything with their values, it seems to be working fine for me. Could you walk me through the steps

[2020-08-06 09:28] yongruilin commented on #15
Yes, that works for me as well.

The restriction is set in the function of `RunE`. We can define different restriction for different subcommand. If in the future we have `grofer profile` we can also set different restriction. We can just be more specific in the help and error output.

Still think that if the flag name is the same from both root and subcommand, they should be put in the same place.

[2020-08-06 10:30] siddhantrao23 opened #30 "Library Migration"
**Is your request related to a problem? Please describe.**
Running `grofer` on certain terminal dimensions causes the Network and Memory graphs to go past the widget borders. This is most likely a bug in [termui](https://github.com/gizak/termui), which is no longer maintained.

**Describe the solution you'd like**
Migrating to another library like [termdash](https://github.com/mum4k/termdash) woul

[2020-08-06 15:00] MadhavJivrajani opened #31 "Migrate to termdash for ui"
In response to #30 migration to [termdash](https://github.com/mum4k/termdash) has to be taken up.

To work on this issue:
- Development related to migration to `termdash` will be done on the `migrate` branch *only*.
- While sending in a PR for the same, instead of "Fixes #Issue", mention "Part of #Issue" and reference this issue.

### TODO:
- [ ] Overall visuals, displayed by the command `grofer`

[2020-08-06 15:01] MadhavJivrajani commented on #16
Let's work on this issue once #31 is done.

[2020-08-06 15:04] anihm136 commented on #16
Okay makes sense

[2020-08-06 15:05] MadhavJivrajani commented on #30
Refer #31

[2020-08-07 05:16] #15 closed

[2020-08-07 05:27] #20 closed

[2020-08-07 12:49] Gituser143 commented on #31
@MadhavJivrajani Okay so we've got a major issue here, termdash does not support floats for bar charts, just ints. We could implement a custom widget but that requires a lot of refactoring and once again will have to fix the 0,0,0,0 issue for `MemStats` chart in `grofer proc`. Another downside, there are no tables here!

[2020-08-07 14:49] MadhavJivrajani commented on #31
![image](https://user-images.githubusercontent.com/12381034/89657798-47b24100-d8eb-11ea-88b1-6f3d57ec662b.png)

[2020-08-07 16:21] #2 closed

[2020-08-07 22:12] Gituser143 opened #33 "[FEATURE REQ] Add functionality to export data to JSON/CSV."
**Is your feature request related to a problem? Please describe.**
As of now we only display stats through the UI, exporting these to a file in the format of JSON, CSV, etc., will be extremely useful.

**Describe the solution you'd like**
A functionality where running `grofer export [ --type=JSON ] [ --iter=100 ] [ --interval=500 ] FILE` would export stats over a specified number of iterations ove

[2020-08-08 05:07] MadhavJivrajani opened #34 "[FEATURE REQ] add flags to the `export` command"
**Is your feature request related to a problem? Please describe.**
Flags for `refresh` (refresh rate), `iterations` and `type` should be added to `export` command.

**Describe the solution you'd like**
In `cmd/export.go` non-persistent flags for `refresh`, `iterations` and `type` should be added and used similar to how refresh rate and pid flags are added to `cmd/proc.go`.

[2020-08-08 05:09] MadhavJivrajani commented on #33
I've created a project board for this feature, feel free to close this issue and create and add issues related to the `export` command to the `grofer export` project board!

[2020-08-08 05:22] MadhavJivrajani opened #35 "[FEATURE REQ] add stats not provided by the `gopsutil` library"
**Is your feature request related to a problem? Please describe.**
The `gopsutil` library does not provide APIs for getting information about certain system parameters and metrics which might be important to know in certain cases such as the the `scheduling policy` of a process or information about software interrupts, hardware interrupts, etc as requested in #21

**Describe the solution you'd lik

[2020-08-08 05:52] MadhavJivrajani opened #36 "[FEATURE REQ] structure of data that needs to be exported as a JSON or CSV"
The format in which data needs to be exported needs to be discussed and decided upon. For instance, for overall/general information about the system being exported as a JSON, how will it be exported and to what level should the JSON be nested?

[code]
or
[code]

^ just an example of what needs to be discussed and decided upon!

[2020-08-08 06:01] anihm136 commented on #36
Personally, I'd prefer as little nesting as possible. All stats can be represented by an array, where each index represents the value of the stat at a specific point in time. If required, each array element can be made into an object to give more information if required (an example would be the exact timestamp at which it was recorded).
Since CSV is one of the formats we plan to export to, and it

[2020-08-08 06:27] MadhavJivrajani commented on #36
Hmm, alright, for JSON, when exported, it will have to be an array of objects, with each object having the time at which data was fetched. For more verbosity/intuition the nesting depth can be increased.

For CSVs, I was thinking, have each piece of information as a column (including CPUs, each CPU is a different column) and have a column for time that uniquely identifies each row.

Also "timestam

[2020-08-08 07:16] metonymic-smokey commented on #36
@MadhavJivrajani so to be clear, is this what you're saying WRT CSVs:
Timestamp is the first column, the next 'n' columns are for each CPU core and each record in those columns will be an array storing some values of metrics(in a fixed order) at that time?

[2020-08-08 07:19] metonymic-smokey commented on #36
For proc stats for an individual process, we could specify the total interval for which to export and the interval at which to fetch stats, via flags. For example, 2 mins./5 sec. for a specific PID will give 36 timestamped rows with stats for that process, with each stat in a different column.

[2020-08-08 09:36] Gituser143 commented on #36
I would prefer the nested JSON as @MadhavJivrajani suggested, but this might have it's own issues to deal with. Because Marshalling huge data structures into JSON will be an issue. CSVs on the other hand will be fairly straight forward. Each row having a time stamp followed by stats as columns is perfect to implement.

[2020-08-08 09:53] MadhavJivrajani commented on #36
@metonymic-smokey why array? If you have different columns in the CSV then the value corresponding to them can be atomic, right?

[2020-08-08 14:54] metonymic-smokey commented on #36
@MadhavJivrajani yeah right, my bad.
What about proc stats?

[2020-08-08 15:03] Gituser143 commented on #36
I don't think it makes sense to export data out of `grofer proc`, but for a specific process we can apply the same format of nested JSON/CSV with atomic values. How does that sound?

[2020-08-08 18:50] anihm136 commented on #16
What's the status on this now that the termdash migration is on hold?

[2020-08-09 05:43] MadhavJivrajani commented on #16
I think we can continue work on this, looks like we'll be using termui for now at least

[2020-08-09 05:58] MadhavJivrajani commented on #16
References to solve this issue:

- To get the selected row in the UI for `grofer proc` command, the `SelectedRow` field of the `List` type can be user ([link](https://github.com/gizak/termui/blob/4cca61d83fa2cc0f485c478ff768b0108f6591d6/v3/widgets/list.go#L20))
- To send a kill signal to the process the [Kill](https://godoc.org/github.com/shirou/gopsutil/process#Process.Kill) of the gopsutil can b

[2020-08-09 14:50] MadhavJivrajani commented on #36
I've added boilerplate code for exporting as JSON, I've hardcoded a lot of configuration options that are to be implemented.
The code is on the `export` branch ([link](https://github.com/pesos/grofer/tree/export)). Run it once and let me know if the format seems okay to you guys!

[2020-08-09 14:51] MadhavJivrajani commented on #34
Development for `export` feature is being done on the `export` branch ([link](https://github.com/pesos/grofer/tree/export))

[2020-08-09 14:51] MadhavJivrajani commented on #33
Development for `export` feature is being done on the `export` branch ([link](https://github.com/pesos/grofer/tree/export))

[2020-08-11 17:38] Gituser143 opened #39 "[FEATURE REQ] Tab completion for grofer."
**Is your feature request related to a problem? Please describe.**
The grofer command would be easier to use with tab completion!

**Describe the solution you'd like**
As we're implementing cobra to parse command line options and arguments, we could enhance it with tab auto completions as cobra supports this for major shells.

[2020-08-11 18:39] MadhavJivrajani opened #40 "[FEATURE REQ] provide a time period to run `export` command for"
**Is your feature request related to a problem? Please describe.**
Along with providing an option for a number of iterations to run for at a specific refresh rate, it would be helpful to provide a total run time and a refresh rate at which this should happen.

**Describe the solution you'd like**
`grofer export -t 120 -r 500`
Total time period `-t` can be added as a non-persistent flag and units w

[2020-08-11 19:11] anihm136 commented on #39
From what I read, `cobra` has a utility for generating a `go` file, which provides the executable with an option to generate an autocompletion script for various shells. Once generated, it would have to be moved to an appropriate location (on the user's `fpath` in Linux) for it to be used. How would we handle moving the generated completion script onto `fpath`?

[2020-08-12 17:49] MadhavJivrajani opened #41 "[BUG] `grofer about` is heart broken"
**Describe the bug**
The ♥ in the `grofer about` does not display fully.

**To Reproduce**
Run `grofer about`

**Screenshots**
![Screenshot_20200812_231622](https://user-images.githubusercontent.com/12381034/90049053-ec6cbe00-dcf1-11ea-92da-d00d3547e4c9.png)

**Expected behavior**
![Screenshot_20200812_231849](https://user-images.githubusercontent.com/12381034/90049283-36ee3a80-dcf2-11ea-8a52-6c45

[2020-08-13 14:46] MadhavJivrajani opened #42 "[FEATURE REQ] add functionality for getting help for a particular command"
**Is your feature request related to a problem? Please describe.**
When running a particular interactive command like `grofer` or `grofer proc` it would be nice to have a way to get something like a table of available key bindings and what they do for that command.

**Describe the solution you'd like**
Pressing a key like `h` should pause the UI rendering and display a table of the available key b

[2020-08-16 19:15] MadhavJivrajani opened #44 "[FEATURE REQ] in-terminal dashboard for API load/stress testing"
**Is your feature request related to a problem? Please describe.**
It would be super cool and helpful if grofer could provide an in-terminal real-time display of different metrics evaluated during API load/stress testing.

**Describe the solution you'd like**
Using some load-testing tool like [vegeta](https://github.com/tsenart/vegeta) the output generated using the tool can be piped to grofer, so

[2020-08-19 17:48] MadhavJivrajani opened #45 "[BUG] allignment in list of child processes in `grofer proc -p PID` is not consistent."
**Describe the bug**
The alignment in the table for the list of child processes of a process is not consistent. I'm assuming this is happening due to the varying lengths of PID.

**To Reproduce**
Steps to reproduce the behavior:
Run `grofer proc -p 1` and hit the `↓` key a few times.

**Expected behavior**
Alignment remains consistent irrespective of the length of the PID.

**Screenshots**
![Scree

[2020-08-29 11:47] #21 closed

[2020-08-29 11:50] MadhavJivrajani commented on #21
@rfyiamcool you can now view stats about si,was,us,sys by running `grofer --cpuinfo` :smile:

[2020-08-30 07:36] AbhilashBalaji commented on #41
running on MacOS iterm2 and zsh with a powerline font (fira code),
<img width="627" alt="fira code" src="https://user-images.githubusercontent.com/29544273/91653798-660df580-eac1-11ea-9417-cac3d6083f3a.png">
 seems fine

heres comic sans :)))
<img width="627" alt="comic sans" src="https://user-images.githubusercontent.com/29544273/91653824-99508480-eac1-11ea-9f65-88e915982133.png">

so it doesnt s

[2020-08-30 07:49] MadhavJivrajani commented on #41
A lot of people seem to have this issue with re-creating it, maybe it's just on my laptop.

Terminal: Konsole
Font: Hack
Font size: 15 pt

Maybe this might help

[2020-08-30 08:54] AbhilashBalaji commented on #14
For MacOS , it seems that gopsutil doesn't support a number of  data points  from the kernel , for example ```num_ctx_switches```   and ```exe```  process classes  ([reference](https://github.com/shirou/gopsutil#process-class)).
used [here](https://github.com/pesos/grofer/blob/b955e21588ffdd43ad19df6fd72ee2b87d208a22/src/process/process.go#L35) , from my preliminary googling darwin support for ps

[2020-08-30 13:20] MadhavJivrajani commented on #14
Interesting, that explains why grofer crashes. One workaround that I can think of is utilizing the information that gopsutil provides and for parameters like `num_ctx_switches`, parse the output of an external command similarly to how its done for `grofer --cpuinfo`.

[2020-08-30 13:35] MadhavJivrajani opened #47 "[REFACTOR] Rename the file printStats.go and the functions inside it to more meaningful names"
**Is your feature request related to a problem? Please describe.**
The file `printStats.go` and the functions inside it such as `PrintMemRates` and `PrintCPURates` were named that way when development started and formats of outputs were being decided. It makes more sense to rename the file and the functions inside it to something more apt such as `ServeMemRates`, `ServeCPURates` etc.

If changed,

[2020-08-30 13:43] MadhavJivrajani commented on #14
Okay this is interesting,
Turns out that commands like `ps` are implemented in a different way on MacOSX since it does not have a `/proc` fs. Info is gathered by `ps` using the `sysctl` and `kvm` commands. `sysctl` seems to provide quite a lot of information that we could work with!

[2020-08-31 06:22] AbhilashBalaji commented on #14
I'll try writting a cgo library by referencing an outdated project like [go-ps](https://github.com/mitchellh/go-ps) and get some OSX compatibility soon

[2020-09-02 16:10] MadhavJivrajani opened #48 "[BUG] error handling needs to be done correctly"
**Describe the bug**
Currently, all errors that might occur are being returned up the function call stack with the intention of being returned to the files in the `cmd` directory. `cobra` provides functionality for handling errors by providing `Run` or `RunE` in the `cmdNameCmd` struct which allows you to return an error to `cobra` and it tries and handles it.

With the current concurrency model o

[2020-09-06 11:13] #47 closed

[2020-09-15 15:14] egawata commented on #48
Hi.
I read this proposal, and I've made some rough fixes.
https://github.com/pesos/grofer/compare/master...egawata:wip_fix_error_handling

- Adds a channel to receive error from `info.GetCPULoad`.
- Uses a context instead of channels, to communicate between goroutines. This would make a communication between goroutines a bit simpler.
- Pressing `q` works well to exit the program.

If this change h

[2020-09-15 15:51] MadhavJivrajani commented on #48
That's a better approach @egawata , thanks!
That does simplify error handling in this case. This got me searching for better ways to handle errors in a concurrent setting and I'd like your opinion on using [errgroup](https://godoc.org/golang.org/x/sync/errgroup) which is basically meant for synchronizing, handling and passing errors occurred in one or more related goroutines. The idea remains the

[2020-09-16 00:18] egawata commented on #48
@MadhavJivrajani
Thank you for your kind advice! I've tried rewriting it with `errgroup`.
https://github.com/pesos/grofer/compare/master...egawata:wip_fix_error_handling_by_errgroup

I also think that is very simple and right solution to our case. 😄

[2020-09-16 05:36] MadhavJivrajani commented on #48
It looks good for the most part, error handling seems to work great, I had a few queries which I was hoping you could address:
- Why is `errCanceledByUser` a new type of error?
- Since you've use `errgroup` group, instead of returning errors in each `eg.Go(...)` would it be better to call `eg.Wait()` since that will collectively wait for all of the associated goroutines to complete as well as coll

[2020-09-16 14:17] egawata commented on #48
Thank you for your advice 😃

All goroutines are canceled when one of `eg.Go()` in errgroup returns non-nil error. To accomplish this, each `eg.Go()` section should return error, even if there is actually no error.
Now `overallGraph.RenderCPUinfo` in the second `eg.Go()` returns no error (maybe when `q` pressed), so I make it return dummy error (`errCanceledByUser`) Of course, it shouldn't be handl

[2020-09-16 14:42] MadhavJivrajani commented on #48
Oh alright, that makes sense, please go ahead and open the PR and we can move forward with this!

Currently, you've implemented error handling only for `grofer -c`, can you implement the same for the parts as well? Starting with the `else` clause in `root.go`, error handling would need to be implemented for all aspects that have a TUI component which includes `grofer proc [-p PID][-r refresh_rate]

[2020-09-16 14:50] egawata commented on #48
Ok, I'll do the same and open PR. 😃

[2020-09-17 07:40] Gituser143 commented on #48
@egawata when you receive from the channel of `ctx.Done` wouldn't it make sense to return `ctx.Err()` instead of a simple return? What I see from your changes to `RenderCPUinfo()` function, you're waiting on the return values of this function back in root.

If there's something I'm missing please let me know. Thanks!

[2020-09-17 14:20] egawata commented on #48
@Gituser143
Thank you for your opinion! 😃
I think it is a good style of func to return an error which indicates the reason, or nil if everything has gone well. I agree returning `ctx.Err()` is better than a simple error.
The main reason why I don't do that is that the error will always be discarded. At the time the routine in `RenderCPUinfo()` receives from `ctx.Done` channel, other goroutine in t

[2020-09-17 14:37] egawata commented on #48
Sorry for posting in a short time. There's another solution. How do you think, @Gituser143 @MadhavJivrajani ?
- Defines a custom error in somewhere in `general` (for example, `general/errors.go`)
- `RenderCPUinfo()` returns the custom error when `q` or `Ctrl-C` pressed, and returns `ctx.Err()` when receiving from `ctx.Done()`.

[2020-09-17 14:42] Gituser143 commented on #48
The solution looks good! It'll ensure that returns are non-empty too! We could use this for custom error in other functions used with `grofer -c` and `grofer proc` too.

If you'd implement this, it would be great! :smile:

[2020-09-17 14:59] MadhavJivrajani commented on #48
I concur with @Gituser143 this looks great, thanks!

[2020-09-19 15:21] #8 closed

[2020-09-23 14:24] #48 closed

[2020-09-24 04:11] Samyak2 commented on #16
Can I work on this issue?

[2020-09-24 04:12] MadhavJivrajani commented on #16
Sure!

[2020-09-25 05:31] nsankethreddy opened #55 "[BUG] Resizing issue with the Memory graphs"
**Describe the bug**
The Graphs under the memory section don't resize along with the window size

**To Reproduce**
Steps to reproduce the behavior:
1. Run ./grofre
2. Resize the window

**Expected behavior**
To be able to see the graphs and the different memory elements' values even on a smaller window

**Screenshots**
![Screenshot from 2020-09-25 10-31-53](https://user-images.githubusercontent.co

[2020-09-25 19:09] #55 closed

[2020-09-26 07:48] Gituser143 opened #58 "[BUG] Lots of lag when scrolling through child processes in `grofer proc -p PID`"
**Describe the bug**
Extreme lag when scrolling through list of child processes in `grofer proc -p PID`

**To Reproduce**
Steps to reproduce the behavior:
1. Run `grofer proc -p 1`
2. Press the down arrow a couple of time and notice the time lag.

**Expected behavior**
Scrolling without lag.

**Desktop (please complete the following information):**
 - OS: Ubuntu 18.04
 - Go Version 1.14.2

[2020-09-30 04:45] anihm136 commented on #42
Can I pick this up?

[2020-09-30 04:47] MadhavJivrajani commented on #42
Absolutely!

[2020-09-30 04:48] anihm136 commented on #42
Awesome! Just to be sure, all the commands are listed in the usage section of the readme right? (i.e, no other commands/flags exist)

[2020-09-30 05:38] MadhavJivrajani commented on #42
Yep!
All commands/flags for the latest release are available in the README.

[2020-09-30 15:41] anihm136 commented on #39
Can I pick this up? (I kinda got confused and mixed up the issue I was working on :sweat_smile:)

[2020-09-30 15:44] Gituser143 commented on #39
@anihm136 Sure! I'll assign you to the same.

[2020-10-01 05:21] anihm136 commented on #42
I'm still working on this :smile:

[2020-10-01 05:22] anihm136 commented on #42
I think I should wait on #54, since my changes will be in the same files

[2020-10-01 05:23] MadhavJivrajani commented on #42
Ah okay, cool cool, I'll re-assign you

[2020-10-01 16:21] siddhant94 commented on #45
hey @MadhavJivrajani , I would like to take it up if it's unassigned.

[2020-10-01 16:22] #58 closed

[2020-10-01 16:28] Gituser143 commented on #45
Hey @siddhant94, feel free to start! I'll assign you to this issue.

[2020-10-02 09:15] siddhant94 commented on #45
Hey @MadhavJivrajani @Gituser143 , any guidelines as how to submit PR for this? Shall I fork it and mark your repo as upstream and then raise a PR? The solution I have implemented is
[code]

[2020-10-02 09:30] MadhavJivrajani commented on #45
Hi @siddhant94,
Yes, please go ahead and open a PR by making changes in your fork, please make sure you've read the [contributing guideline](https://github.com/pesos/grofer/blob/master/CONTRIBUTING.md) and if you need any further help please feel free to let us know.

The changes you suggested, I'll be able to validate them only once you send in your PR. But it looks good to me for the most part!

[2020-10-02 10:17] siddhant94 commented on #45
Done. Raised a PR - https://github.com/pesos/grofer/pull/61

[2020-10-02 16:05] #45 closed

[2020-10-03 18:19] #39 closed

[2020-10-03 20:26] MadhavJivrajani opened #64 "[REFACTOR] Small changes needed to increase code readability and maintainability."
Small amounts of refactoring can be done to all files under `cmd` which have additional flags.

## Creating `const` types for default values of flags.
- Each flag in [cobra]() needs to have a default value set. As of now the default value in some cases is mentioned while creating the flag such as https://github.com/pesos/grofer/blob/03a98094cd2fd6b8822d0295f0e38e230e5ee730/cmd/proc.go#L106

- For

[2020-10-03 20:36] MadhavJivrajani opened #65 "[ENHANCEMENT] change type of `refreshRate` and `pid` flag to unsigned int"
- In `cmd/proc.go` and `cmd/root.go` the type of the `refreshRate` flag is an `int32`.
- In `cmd/proc.go` the type of PID is `int32`.

In both these cases, I feel like it would be better to keep the type to unsigned integers as the values can never be allowed to be negative.

- `int32` for `refreshRate` could be changed to `uint64` to handle the case of an extremely large refresh rate since refres

[2020-10-04 04:56] souvikmaji opened #66 "[BUG] Under white background the texts are not visible properly"
**Expected behavior**
Based on the background color of the terminal, text color scheme should change.

**Screenshots**
![image](https://user-images.githubusercontent.com/5869648/95007304-e0cfb080-062b-11eb-87bd-0925e73c6e1f.png)

**Desktop:**
 - OS: Linux Mint
 - Go Version: 1.14.3
 - Mate Terminal

[2020-10-04 05:00] MadhavJivrajani commented on #66
CC @Gituser143

[2020-10-04 05:13] souvikmaji commented on #64
I am picking this up.

[2020-10-04 05:16] MadhavJivrajani commented on #64
Sure.

[2020-10-04 05:58] souvikmaji commented on #65
Picking this one up also.

[2020-10-04 06:00] prncvrm commented on #65
picking up this!

[2020-10-04 06:09] prncvrm commented on #65
https://github.com/pesos/grofer/pull/68

[2020-10-04 06:32] #64 closed

[2020-10-04 06:45] souvikmaji commented on #65
@prncvrm LOL, don't rush to add an incomplete PR to an issue, which someone has already started working and commented so also.

[2020-10-04 07:29] MadhavJivrajani commented on #65
Hi guys,
As a general good practice, its always recommended that you ask if an issue is available to be worked on and if so, whether you can work on it, rather than declaring that you will be working on this. As far as I can tell, both of you commented in the same manner at more or less the same exact time, there's no real way to decide this.

In order to try and be as fair as possible to you guys

[2020-10-04 08:06] prncvrm commented on #65
@MadhavJivrajani thanks. @souvikmaji i really didn't see your comment back then. its less than a 1 min diff btwn our comments 👍

[2020-10-04 09:31] panzerox123 commented on #66
Hey! I'd like to work on this issue!

[2020-10-04 09:34] Gituser143 commented on #66
Have at it @panzerox123 !

[2020-10-04 13:51] #66 closed

[2020-10-05 08:00] anihm136 commented on #42
So what I've been thinking for this is to create a general help widget, which can take a help string and display it as required, as well as handling the necessary keybindings. This can then be used in the 3 subcommands with the appropriate help strings. Do you think this is a good way to go? If so, what would be the best place to define such a widget?

[2020-10-06 06:50] #65 closed

[2020-10-06 07:16] anihm136 commented on #42
Bump @MadhavJivrajani @Gituser143 @metonymic-smokey

[2020-10-06 07:23] MadhavJivrajani commented on #42
Hi @anihm136,
Apologies for the late response, yes that seems like a good way to go about it, just one question:

I didn't quite get you here, could you give an example about what would count as a "help string"?

[2020-10-06 07:23] Gituser143 commented on #42
@anihm136 Sorry for the delay! This seems perfect in theory. Maybe use a textbox or table widget to make it work? You could pause the UI rendering and then render just this help widget when the help key is pressed.

If you feel that's doable, you could get started on that!

[2020-10-06 07:25] Gituser143 commented on #42
Something like pressing `h` for help box. That's what was mentioned in the issue description...

[2020-10-06 07:26] MadhavJivrajani commented on #42
That's what I understood from the keybindings part.

[2020-10-06 07:27] anihm136 commented on #42
@MadhavJivrajani what I mean is simply a newline-separated string, which contains some help message (need not be restricted to keybindings). The widget would handle splitting the string, formatting and displaying it appropriately. This is kind of how it's implemented in gotop, but there the help string is hardcoded into the widget, resulting in help for all the screens being displayed every time.

[2020-10-06 07:28] anihm136 commented on #42
@Gituser143 Yeah a table widget is what I'm looking into. I understand the part about pausing the UI, ohpefully wont run into too many issues

[2020-10-06 07:28] MadhavJivrajani commented on #42
Gotcha. That sounds good!

[2020-10-06 07:29] Gituser143 commented on #42
@anihm136 You might want to look into list too, that helps with scrolling!

[2020-10-06 07:30] anihm136 commented on #42
Will do

[2020-10-06 07:31] MadhavJivrajani commented on #42
and also providing selection functionality based on what the user chooses while scrolling

[2020-10-06 07:31] anihm136 commented on #42
What would be the best place to define this widget, considering it's general to all the screens? I was thinking in `src/display/general`, maybe in a new file?

[2020-10-06 07:34] MadhavJivrajani commented on #42
Maybe create a new folder `src/display/misc` or something like that, because we might need a widget/screen for killing a process, so those widgets can be grouped under that package.

[2020-10-09 13:36] #16 closed

[2020-10-09 13:43] Samyak2 commented on #41
I can't reproduce it even with the same terminal, font and font size.

[2020-10-09 14:02] MadhavJivrajani commented on #41
Wow, that's weird :exploding_head:

[2020-10-09 14:12] Samyak2 opened #75 "[BUG] High exit time"
**Describe the bug**

`grofer` or `grofer proc` takes a few seconds to exit to the shell prompt after pressing `q` or `ctrl-c`.

The time taken to exit increases as the refresh time is increased.

**To Reproduce**

Steps to reproduce the behavior:
1. Run `./grofer -r 10000` in a terminal
2. Exit grofer using `q` or `ctrl-c`
3. Notice time taken for the shell prompt to reappear

**Expected behavior

[2020-10-09 15:20] MadhavJivrajani commented on #75
On investigating a little, the problem seems to occuse because of this line:
https://github.com/pesos/grofer/blob/5e9d902f56595d407529d3bde056c7a636613f9b/src/general/generalStats.go#L67

[2020-10-10 05:02] #42 closed

[2020-10-10 05:27] ataboo commented on #75
May I take a look at this one?

[2020-10-10 05:30] MadhavJivrajani commented on #75
Absolutely! Have at it :smile:

[2020-10-10 20:14] Gituser143 opened #78 "[BUG] Increased refresh rate time due to data fetch and serve delays."
**Describe the bug**
Currently although UI is refreshed at given refresh rate, data being fetched and sent to UI is slower. Functions that serve the data take time to fetch data and then sleep for the given refresh rate. This causes a visible delay in the UI.

**To Reproduce**
Steps to reproduce the behavior:
1. build grofer `go build grofer.go`
2. run `./grofer -r 1000`
3. Notice fields being upd

[2020-10-11 18:14] akashgupta05 commented on #78
I'd like to pick up this issue. please assign it to me.

[2020-10-11 18:16] MadhavJivrajani commented on #78
Sure! Looking forward to your PR 😄

[2020-10-11 18:23] Gituser143 commented on #78
@akashgupta05 please take not of #77 as it might involve some changes that might affect what you plan to change. If necessary, feel free to wait for the above to merged.

[2020-10-11 18:32] akashgupta05 commented on #78
Thanks, i will make sure to raise PR without any conflict in files and issues in solution.

[2020-10-11 18:58] Gituser143 commented on #75
@ataboo Thanks for the fix!

[2020-10-11 18:58] #75 closed

[2020-10-11 19:17] Gituser143 commented on #78
Hey @akashgupta05, looks like the PR #77 fixed the delay issue too. A ticker was implemented to ensure exit times are immediate, but since this was started before corresponding calls to serve data, it does not wait for the overhead of the fetch and serve delays.

I'm sorry, but we will be closing this issue. If you'd like to pick up any other issue, we'd be happy to assist!
So sorry for the inconv

[2020-10-11 19:17] #78 closed

[2020-10-13 18:20] MadhavJivrajani opened #79 "[FEATURE REQ] Implement a menu of signal type options for killing a process"
**Is your feature request related to a problem? Please describe.**
Currently, the functionality for killing a process is based on sending a `SIGKILL` to the process. Instead of always sending a `SIGKILL`, it might be better to provide the user with a list of signal types that can be used to terminate the process, eg: `SIGTERM`, `SIGSTOP`, etc.

**Describe the solution you'd like**
`gopsutil` provi

[2020-10-13 18:25] MadhavJivrajani opened #80 "[FEATURE REQ] provide support for different signal types"
**Is your feature request related to a problem? Please describe.**
`gopsutil` provides [support](https://godoc.org/github.com/shirou/gopsutil/process#Process.SendSignal) for 4 different types of signals that can be sent to a process, signals other than these 4 need to be implemented such as `SIGABRT`. A list of signals can be obtained by running `kill -l`

**Describe the solution you'd like**
Mayb

[2020-10-13 18:26] MadhavJivrajani commented on #79
To be worked on after #80

[2020-10-17 06:49] Samyak2 commented on #80
Do these have to be implemented in separate functions (such as `sendHup`, `sendInt`) or a general function to send a given signal to a process?

[2020-10-17 07:21] MadhavJivrajani commented on #80
Separate functions can be implemented to send individual signals, but only a single exposed interface should preferably be available. We could have codes for each type of signals as consts and a `map` from these consts as keys and values as functions. Maybe we could get the function from the `map` and then call it, handle errors from it, etc.

[2021-01-01 12:50] MadhavJivrajani opened #86 "[BUG] incorrect pid validation in `proc` command"
**Describe the bug**
`grofer proc -p [PID]` should give an error when an invalid PID is entered (negative values and some cases 0 as well as 0 might indicate the `sched` or the `swapper` process), if a PID equal to the `defaultProcPid` is entered, it runs the `grofer proc` command which shows info about all processes.

**To Reproduce**
`grofer proc -p -1`

**Expected behavior**
The error shows for

[2021-01-02 06:20] Samyak2 commented on #86
I had a go at this (pun intended), but I couldn't find a good enough solution.

I looked for ways to [check if a flag was set explicitly](https://stackoverflow.com/questions/54379749/how-do-i-extract-only-flagsets-that-are-being-set-explicitly-in-the-cli), tried the [`pflag` functions which use pointers](https://pkg.go.dev/github.com/spf13/pflag#Int32VarP), but neither of the solutions worked.

On

[2021-01-02 07:31] MadhavJivrajani commented on #86
Yeah, that's the only thing I could think of as well.

There are a couple of other things that we could consider:
- The way `top` does it is that if you give a PID of 0, it'll run the monitoring of its own PID and any negative value throws an error. So what we could maybe do is, we could change the default to 0 and if the entered PID is 0, we run `grofer proc`, if its anything negative, it'll be c

[2021-01-02 08:06] Samyak2 commented on #86
The `top` way of doing it looks better, but what if `0` is a valid PID?

I would still prefer making `-2147483648` the default value as it allows PID 0 as well as shows errors on common negative values.

[2021-01-02 08:37] MadhavJivrajani commented on #86
Afaik `0` won't be a valid PID, its meant for `sched` in linux/unix and windows idle process in windows based systems. Processes like `sched` can't be monitored since they completely exist in the kernel space and forks the `init` process and just runs an infinite loop making sure that there is always a process that the scheduler can schedule and `/proc` doesn't have an entry for it as well so ther

[2021-01-02 08:40] MadhavJivrajani commented on #86
If that seems okay to you, feel free to send in a PR whenever!

[2021-01-02 08:41] #36 closed

[2021-01-02 08:42] Samyak2 commented on #86
Ah okay, I did not know that.

Then yes, making 0 the default seems like the better way.

[2021-01-02 19:25] #86 closed

[2021-01-16 16:03] #33 closed

[2021-01-16 16:19] MadhavJivrajani opened #91 "[FEATURE REQ] add monitoring of system resources given docker container id"
**Is your feature request related to a problem? Please describe.**
Given that functionality for resource monitoring is provided on a per-process basis, I think it'd be super cool to have this feature for Docker containers as well.

**Describe the solution you'd like**
`grofer docker --cid cid`
`grofer export --cid cid`

**Proposed solution**
[Gopsutil](https://godoc.org/github.com/shirou/gopsutil/

[2021-01-23 16:22] #41 closed

[2021-02-01 09:09] MadhavJivrajani opened #92 "[Enhancement] add cleaner and more efficient error handling"
Currenltly, error handling is done in the usual pattern of
[code]
However, this might not be the most robust and efificent way to do this as mentioned in this super interesting [talk](https://www.youtube.com/watch?v=inrqE0Grgk0&t=15126s).

The main take aways from this are that the current versions of Go pass return values around in memory rather than in registers as done by languages like C++. An

[2021-02-01 09:11] MadhavJivrajani commented on #92
Discussion thread #94

[2021-03-29 07:12] RaghavRoy145 opened #97 "-c flag throws error"
**Describe the bug**
mpstat binary not installed by default.
-c flag throws error "Error: exec: "mpstat": executable file not found in $PATH"

**To Reproduce**
Steps to reproduce the behavior:
1. Open terminal (shell used: zsh 5.8)
2. Command: grofer -c
3. See error: "Error: exec: "mpstat": executable file not found in $PATH"

**Expected behavior**
Show Info about the CPU Load over all CPUs

**Des

[2021-03-29 07:16] MadhavJivrajani commented on #97
Thanks for raising this issue!

I think we can try and get information about interrupts from the `/proc` or the `/sys` subsystems. The CPU% information should be provided by `gopsutil`.

I haven't personally checked this out in depth, but to anyone who might be interested in taking this up, [this](https://github.com/prometheus/procfs) might be a good place to start.

[2021-03-29 18:36] MadhavJivrajani opened #98 "[FEATURE REQ] add the `s`(pause) key-binding to help menus"
- `grofer` commands that use a UI implement a `s` key-binding which pauses the UI and subsequently pressing `s` again resumes it.
- Currently, when a terminal UI based `grofer` command is running, hitting the `?` brings up the help menu for key-bindings of that command.
    - The `s` key-binding seems to me missing, and should be added.

Relevant files:
- https://github.com/pesos/grofer/tree/maste

[2021-03-29 18:43] MadhavJivrajani opened #99 "[DOC] document using `grofer export` format"
- The format in which metrics are exported by `grofer export` resembles the [`ndjson`](http://ndjson.org/) format.
- It'd be helpful to have this mentioned in greater detail in the README and also maybe have a few examples that make use of these metrics that are exported as `ndjson` showing how such files can be worked with.

### Getting metrics
[code]

[2021-04-06 17:13] lucasace opened #100 "[FEATURE REQ] Add keybind to navigate to child process in grofer proc"
**Is your feature request related to a problem? Please describe.**
While running `grofer proc` with a pid with say a few child processes, there is no way to navigate to a child process directly,
The only way to do that would be to note down the PID and run `grofer proc` with noted PID

**Describe the solution you'd like**
Some sort of keybinding (like <C-Enter>) to directly jump to that child proc

[2021-04-07 02:35] lucasace commented on #100
is <C-Enter> fine or is there any other keybind you guys have in mind?
@MadhavJivrajani

[2021-04-07 04:05] MadhavJivrajani commented on #100
Hey @lucasace!

Yeah `C-Enter` SGTM!

[2021-04-27 18:52] MadhavJivrajani opened #101 "[FEATURE REQ] Add Dockerfile for `grofer`"
**Describe the solution you'd like**
Have a Dockerfile for grofer for ease of use.
[code]

**Additional context**
- On initial thought, this can be done by mounting the file systems being used by `gopsutil` to fetch metrics, `/proc` and `/sys` might be a good starting point.

[2021-04-27 19:34] Samyak2 commented on #101
I looked this up a bit, haven't tried any of this yet. Apparently, mounting `/proc` inside the container does not provide details of the host. The alternative is to mount the whole root FS as read-only in the container ([ref](https://stackoverflow.com/a/49169257)).

It might be only for the hostname, I'm not sure yet. I can take up this issue if no one else has taken it up for a few days.

[2021-04-28 07:04] MadhavJivrajani commented on #101
Ohhh that makes sense, hmm.

Mounting the whole root file system could be an option, maybe qualifying the mount as read only as well.

[2021-04-28 07:07] MadhavJivrajani commented on #101
Okay so I did a little digging, [`cAdvisor`](https://github.com/google/cadvisor#quick-start-running-cadvisor-in-a-docker-container) also mounts the entire root file system for this purpose, followed by a read-only qualification. That might be the way to go.

[2021-05-05 05:57] MadhavJivrajani commented on #101
@Samyak2 looks like you can take this up!

[2021-05-05 10:53] #91 closed

[2021-05-05 20:17] Gituser143 opened #104 "[BUG] Incorrect timestamps"
**Describe the bug**
Timestamp in `grofer proc` are incorrect!

**To Reproduce**
Steps to reproduce the behavior:
1. Run `grofer proc`

**Expected behavior**
Timestamps of when the process was actually created.

**Screenshots**
![image](https://user-images.githubusercontent.com/44526455/117203681-ecc36100-ae0c-11eb-84d7-0493c5ddf8f1.png)

**Desktop (please complete the following information):**
 -

[2021-05-06 02:07] #104 closed

[2021-05-06 18:35] MadhavJivrajani commented on #100
@lucasace how's it going?

[2021-05-06 18:40] MadhavJivrajani opened #107 "[FEATURE REQ] Add keybindings for sorting output for `grofer proc`"
**Is your feature request related to a problem? Please describe.**
As @Gituser143 pointed out, it'd be nice to have sort functionality based on different columns of the `grofer proc` output.

**Describe the solution you'd like**
`ctrl + 1` for sorting by first column of the output? And so on for the other columns.

**Describe alternatives you've considered if any**
`shift` was discussed, but `term

[2021-05-06 18:48] MadhavJivrajani opened #108 "[FEATURE REQ] add key bindings for `kill`ing and `restart`ing docker containers from `grofer`"
**Is your feature request related to a problem? Please describe.**
It'd be cool to `kill` or `restart` containers from the UI of `grofer container`

**Describe the solution you'd like**
`k` to `kill` and `r` to `restart`, implementation should be similar to #54, except for how `kill` and `restart` is sent to the container

**Additional context**
RAGE KILLLLLLLLLLLLLLL

[2021-05-06 18:55] Gituser143 commented on #107
This should probably be done for `grofer container` too. Unsorted tables are annoying :P

[2021-05-07 22:05] anihm136 commented on #108
Have you come across https://github.com/jesseduffield/lazydocker? It has a really cool intuitive UI and could give some ideas on how to implement as well (I use the git counterpart, highly recommended btw)

[2021-05-07 22:11] anihm136 commented on #80
I can try this. syscall already has aliases for all kinds of signals, which can be passed directly to Signal(). Do you think it's a good idea to forego gopsutil entirely for this functionality to maintain a uniform implementation?

[2021-05-07 22:11] Gituser143 commented on #108
@anihm136 Yep we're looking for someone similar! I recently tried the same locally by using the same docker SDK, it's essentially just one command to kill/remove containers (doc can be found [here](https://pkg.go.dev/github.com/ph/moby/client#Client.ContainerRemove)). But for some reason it kept freezing my host system. Worked like a charm on a virtual machine though.

[2021-05-08 05:08] MadhavJivrajani commented on #80
Yep! That would be ideal. Go for it!

[2021-05-08 17:11] #34 closed

[2021-05-09 10:41] #107 closed

[2021-05-11 19:30] #108 closed, assigned to nobody

[2021-05-14 17:57] anihm136 commented on #80
Quick update, I've started work on this. `gopsutil` has a `SendSignal` method that takes an arbitrary signal as defined by `syscall` and sends it to a process. I'm planning to use it for further work on this

[2021-05-15 11:22] #30 closed

[2021-05-15 11:22] #31 closed

[2021-05-15 17:52] anihm136 opened #114 "[BUG] grofer fails in tmux"
**Describe the bug**
When trying to run grofer in a tmux session, it fails with the following error -
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Start a new tmux session
2. Run grofer
4. See error

**Expected behavior**
Grofer should not fail in tmux (or failure should be documented)

**Desktop (please complete the following information):**
 - OS: Linux 5.12.3-arch1-1 x86_64 GNU/

[2021-05-15 18:06] Samyak2 commented on #114
It works for me, in tmux too. I use [oh my tmux](https://github.com/gpakosz/.tmux) for my tmux config, it could be due to that.

Also, from the error it seems like an issue with the terminal which I'm assuming it infers from `$TERM`. `echo $TERM` gives `screen-256color` for me. Maybe try setting that manually?

[2021-05-15 18:08] Samyak2 commented on #114
I think this can confirm that it's due to `$TERM`

[code]

[2021-05-15 19:13] anihm136 commented on #114
Hmmm. I haven't changed my default terminal for tmux, so it is set to `tmux-256color`. This appears to be an upstream issue

[2021-05-15 21:22] anihm136 commented on #114
Running grofer with `TERM=xterm-256color grofer` works on tmux. Possible addition to docs/FAQ, since this is a common fix for all terminfo entries not supported by termui

[2021-05-15 21:22] #114 closed

[2021-05-16 17:12] panzerox123 commented on #97
Hey, could I take this up?

[2021-05-16 17:21] Gituser143 commented on #97
@panzerox123 Absolutely! I'll assign this to you.

[2021-05-18 07:08] #97 closed

[2021-05-22 08:52] Gituser143 opened #117 "[FEATURE REQ] Add version number to about page"
**Is your feature request related to a problem? Please describe.**
Currently, `grofer about` just has some text. It should additionally have version numbers too for each version built.

**Describe the solution you'd like**
Adding version number to about. :P

[2021-05-23 10:33] 7wik-pk commented on #117
[Just to clarify] these "version numbers" must be extracted from a config file, (like .json or .yml) yes?
I only found one yaml file in the repo (inside the .circleci directory) and I wanted to enquire if I'm supposed to read that or if an alternative solution is expected by the maintainers.

[also, it seemed odd to me that the config.yml file exists in a directory instead of being in a "config" f

[2021-05-23 11:22] MadhavJivrajani commented on #117
Hey @7wik-pk! Welcome!
To answer your questions:

- The version numbers in this context are typically ones that get tagged when a new [release](https://github.com/pesos/grofer/releases) is made. For example, the tags can be seen in the `tags` section:

![Screenshot_20210523_164107](https://user-images.githubusercontent.com/12381034/119258129-04a92c00-bbe6-11eb-9181-39e4849d603e.png)

- The `config

[2021-05-23 13:24] Gituser143 commented on #117
I haven't really thought about how to go about this. But if we do come up with a solution, it should account for future releases. They should automatically have version updated, rather than manually have made a commit post/pre release.

[2021-05-23 14:31] MadhavJivrajani commented on #117
Alright, I will try and do a little research on it as well. @7wik-pk I'll assign this to you and we'll help you get a PR raised and merged! Feel free to post any and all doubts/questions you may have here or on the #grofer-help slack channel or feel free to DM us if you're more comfortable with that 😄

[2021-05-23 15:11] 7wik-pk commented on #117
Sure, thanks
but I had a proposal: why not make a yaml/json or any other kind of config file for this project? that's the only thing I'm familiar with when it comes to keeping track of things like version/build (and even credits in some games)
If there's an alternative to that, I'd be happy to look into it

[2021-05-23 20:14] Gituser143 commented on #117
I'm not sure a config file would be the way to go, because you'd might as well just hardcode the version, because we'd have to manually commit a change to update version anyway. For now I'm thinking a simple hardcoding might suffice, but an action could probably be setup to extract version from the tag maybe (Might be better to go over this in a separate issue)? I'm not very sure about this.

My r

[2021-05-23 21:59] Gituser143 opened #118 "[BUG] Incorrect unit in `RoundValues()`"
**Describe the bug**
In the `utils` package, the `RoundValues()` function has a small error where the switch case classifies units as `per thousand`, `per million` and **`per trillion`**. Additionally, no default case is set, which could lead to the function returning empty values.

**To Reproduce**
Unsure how to reproduce.

**Expected behaviour**
The third unit must be `per billion` and not `per

[2021-05-24 04:16] mihirkestur commented on #118
Greetings! Can i work on this?

[2021-05-24 04:21] MadhavJivrajani commented on #118
Absolutely! I'll assign it to you :)

[2021-05-24 07:00] MadhavJivrajani commented on #117
I found something interesting:

Go allows injecting values into package-level variables at build time, try building [this](https://play.golang.org/p/UqPJfMflasd) program using:
[code]
and on running, `lol` should print.

Since we already have a [script](https://github.com/pesos/grofer/blob/main/scripts/compile.sh) that builds `grofer` executables before our releases, maybe we can modify that to ta

[2021-05-24 08:10] Gituser143 commented on #117
This is great, I like this.

[2021-05-24 10:57] #118 closed

[2021-05-24 13:48] Samyak2 commented on #117
For versioning at build time, would it possible to get the last commit's hash?

For example, [neovim]() [hardcodes the version number](https://github.com/neovim/neovim/blob/master/CMakeLists.txt#L122-L127) if not in a git repo, otherwise it uses [`git describe` to get a tag](https://github.com/neovim/neovim/blob/1186f7dd96b054d6a653685089fc845a8f5d2f27/scripts/update_version_stamp.lua#L30).

Runni

[2021-05-24 13:50] Samyak2 commented on #117
[Here's](https://github.com/dgraph-io/dgraph/blob/master/Makefile#L21) an example of Go-based project that uses Make for building. The command `git describe --always --tags` used in their `Makefile` gives the same output
[code]

[2021-05-24 13:56] Samyak2 commented on #117
Sorry for all the notifs, [here's](https://github.com/dgraph-io/dgraph/blob/379e3cb3ac09da663a68de70dd10731a4202f5b9/dgraph/Makefile#L24-L31) a better example of dgraph's Makefile. They too use build time variables (which @MadhavJivrajani detailed above) [here](https://github.com/dgraph-io/dgraph/blob/379e3cb3ac09da663a68de70dd10731a4202f5b9/dgraph/Makefile#L43-L50).

[2021-05-24 15:07] MadhavJivrajani commented on #117
Yeah, that's exactly what I had in mind, but didn't know the commands :p Thanks for the links!

---
So, we would have 3 types of scenarios:
- When someone does a `go get` and runs `grofer`
    - This is the only weird case. Hardcoding is the only thing that comes to mind, will have to think a bit more on this
- When someone builds from source
    - This is relatively straightforward because of the

[2021-05-24 15:10] MadhavJivrajani commented on #117
One thing that comes to mind is something like, if the `groferVersion` variable is non-empty, only then add a `version` to the `about` paragraph. But not sure how I feel about this because of it being inconsistent

[2021-05-24 15:38] Samyak2 commented on #117
Does `go get` use the latest main/master branch or the latest release?

I don't like the idea of omitting version when installed from go get. One of the reasons I want version info in the about page is to ensure that go get updated grofer correctly (and I'm running the correct/latest version of it).

One alternative is hardcoding it to `1.2.0-dev` (or whatever the current version is) by default. A

[2021-05-24 16:23] Gituser143 commented on #117
This makes sense, go get does work with a version too, omitting gets latest I think. I could be wrong though.

[2021-05-24 18:16] MadhavJivrajani commented on #117
Waaaaaaaaaiiiiiiiiiiiiiiiiiiiiiiit a minute
You can do `-ldflags` with `go get` as well 🙃
We can document it in the README

[2021-05-24 18:31] Samyak2 commented on #117
That's nice, but the issue is that we'll also have to update the README on every release to change the command xD

[2021-05-25 05:46] MadhavJivrajani commented on #117
Yeah lol fair enough. Although I'd want a safeguard for not forgetting to update it when a release is made, something like the script which checks for licenses, but is run only when you create a PR to `stable`, and checks if the `groferVersion` at the `HEAD` of `stable` is same as `groferVersion` at `HEAD` commit in PR, if so, exit with non-zero exit code, giving an appropriate error message.

We

[2021-05-25 05:49] MadhavJivrajani commented on #117
@7wik-pk sorry for all the hastle and possible confusion, for this issue, you can go ahead and hardcode a version of `v1.3.1` (the next release version) in the `cmd/about.go` file as a variable `groferVersion` as shown above.

If you're further interested in contributing to the versioning aspect of this, feel free to take up the issue that's created for:

[2021-05-25 15:44] 7wik-pk commented on #117
yes, we would have to hardcode it in the yaml file, but I was thinking that in the future you could create more packages/scripts/programs that will make use of version, and hardcoding it in one place (yaml file) and pulling it from there everywhere you need to use it would be better than hardcoding everywhere : this is what I was thinking at the time

but yes, you might as well create a package-le

[2021-05-25 19:01] MadhavJivrajani commented on #117
Hmm interesting, thanks for sharing this! Might be worth looking into the future.

Can you elaborate? Leave it like how?

[2021-05-25 21:58] 7wik-pk commented on #117
I meant we might as well not add version to about.go for the moment because

1. Hardcoding is not going to be a good solution
2. Someone (probably myself) is going to replace it with a better solution in the future anyway, so in a way there's no point

[2021-05-26 03:38] MadhavJivrajani commented on #117
Should it be replaced in the future by a better method, it can be an enhancement. However till that time comes, imo we still need the version number.

Hardcoding isn't a bad idea if we have the nescessary automation and checks in place.

[2021-05-26 08:09] Samyak2 commented on #117
I agree with @MadhavJivrajani, hardcoding it as a variable is not such a bad idea. Though, it should be documented in the [release process](https://github.com/pesos/grofer/blob/main/CONTRIBUTING.md#release-overview-for-the-more-regular-contributors).

As a comparison, in [`browser-history`](https://github.com/pesos/browser-history/) I have to change the version in 3 places before a release xD. @7w

[2021-05-26 14:52] 7wik-pk commented on #117
if you choose to go ahead with a config file, we won't need to hardcode a variable in the about.go file though.
we could pull it from the config file inside the about.go script.

I suppose now I just want to ask if I should be hardcoding a variable now or not lol

[2021-05-26 15:27] MadhavJivrajani commented on #117
We would need to hardcode it in the config. Even if we try out the tool you linked, we would have to give write access to a bot-type thing, and then deploy that, which would have costs, I feel like that's a little overly complicating things. Instead, a script to check in the CI itself if the version number is updated or no is pretty straightforward imo and robust enough to sustain

Yep, go ahead x

[2021-05-26 16:14] Samyak2 commented on #117
Sorry for the confusion, I was trying to show that hardcoding a variable is not a bad idea. You should go ahead with doing that. Harcoding + the script @MadhavJivrajani mentioned should be good enough for a long time.

[2021-05-29 10:17] Samyak2 commented on #99
I would like to point out that `ndjson` isn't technically valid JSON since a JSON file contains just one object and not multiple. As per the [ndjson spec](https://github.com/ndjson/ndjson-spec#33-mediatype-and-file-extensions), the file name extension should be `.ndjson` and not `.json`.

This part in the export help page should be fixed to say `ndjson` instead of `json`.
[code]

Adding this here

[2021-06-01 12:19] anihm136 opened #122 "[BUG] Selectoed process out of bounds in `grofer proc`"
**Describe the bug**
When the process list changes for any reason and is refreshed, if the number of processes in the refreshed list is less than the index of the currently selected process, the selection goes out of bounds and no process is selected

**To Reproduce**
Steps to reproduce the behavior:
1. `grofer proc`
2. Scroll down to the last process
3. Wait for a while (or kill a process if you'

[2021-06-02 10:28] MadhavJivrajani opened #123 "[Enhancement] Improve the way container actions are handled"
Following #112, the menu of signals to send to processes turned out great and is really user friendly as well, since we have a bunch of actions that we can perform on a container as well through `grofer`, we can probably better the feedback given on execution of an action (currently the color of the row is changed as an indication of confirming that action via executing the same key-binding again)

[2021-06-05 06:51] #79 closed

[2021-06-07 11:36] 7wik-pk commented on #117
ok, I know it has been nearly 2 weeks, but I got really busy, you know, life and sh*t
so apologies for that, but I'll definitely get this done (might need another 2 weeks lol, but will definitely do it at some point)
I'm caught up with too many obligations/tight deadlines atm, but I'll finish everything in time

[2021-06-07 11:37] 7wik-pk commented on #117
(just wanted to let you guys know, I didn't intend to just disappear without any acknowledgement)

[2021-06-09 15:00] 7wik-pk commented on #117
I have NOT tested grofer on my system yet because I use Windows for everything so I couldn't build it successfully.
Since it's an insignificant modification of the script, I'm hoping that's ok.
In any case, I'll set up a Linux VM soon and test it anyway.
For now though, please let me know if I somehow managed to break the code by adding three lines. That would be hilarious.
Thanks

[2021-06-11 21:04] #117 closed

[2021-07-10 13:25] panzerox123 opened #126 "[FEATURE REQ] A screen that can track battery usage"
I find myself looking at battery information quite frequently. It would be nice to have a screen that can read files in `/sys/class/power_supply` and display the information, along with a chart that could detect spikes in power usage.
![image](https://user-images.githubusercontent.com/18327257/125164497-23707b80-e1b0-11eb-8f25-4cbc39bfac4d.png)
These are some of the files that TLP uses to keep tra

[2021-07-10 17:06] #101 closed

[2021-08-01 07:05] anirudhRowjee commented on #98
Hi! I'd like to work on this.

[2021-08-01 07:09] Gituser143 commented on #98
Sure! I'll assign this to you!

[2021-08-01 12:00] #98 closed

[2021-08-02 04:32] anirudhRowjee opened #128 "[FEATURE REQ] Kubernetes Monitoring and Dashboard"
**Is your feature request related to a problem? Please describe.**
Kubernetes Monitoring and Dashboarding

**Describe the solution you'd like**
I believe a lot of the existing architecture of Grofer can be re-used to show data relevant to Kubernetes. A simple dashboard can be implemented, with support for features including (but not limited to)
0. Listing all available pods, nodes, and similar dat

[2021-08-19 11:03] Gituser143 opened #131 "[FEATURE REQ] Add an action table for the overall container page"
**Is your feature request related to a problem? Please describe.**
Currently, container actions are performed by pressing specific keys and then pressing them again to confirm the action. Remembering these keys might be quite annoying and it's easy to perform the wrong action.

**Describe the solution you'd like**
A table can be made to pop up much the signal table for the `proc` page which has th

[2021-09-06 17:25] #80 closed

[2021-09-10 05:29] #123 closed

[2021-09-10 05:29] #131 closed

[2021-10-04 17:11] MadhavJivrajani commented on #128
Huge +1
Happy to help in any way possible :)

[2021-10-04 17:48] #5 closed

[2021-10-05 08:27] anirudhRowjee commented on #128
I will! Thank you for the opportunity :D

[2021-10-21 09:07] Gituser143 commented on #126
@siddhant94 I don't think we'd be adding the said widgets to this page. Maybe a new page that could be accessed through `grofer battery` maybe?

[2021-10-21 09:23] siddhant94 commented on #126
Oh ya, new page sounds good. Once I get the go ahead I'll start on this.

[2021-10-21 09:25] panzerox123 commented on #126
Works for me! I'll start working on it as soon as I get some free time

[2021-10-30 06:06] MadhavJivrajani commented on #128
@anirudhRowjee you have the right idea. `client-go` can be used to interact with the Kubernetes API. However, for the purposes of scraping metrics, there are a few things to keep in mind:
- The cluster needs to have [`metric-server`](https://github.com/kubernetes-sigs/metrics-server) deployed, only then will you be able to scrape metrics using the Kubernetes API.
- For the specific use-case of scr

[2021-10-30 06:07] MadhavJivrajani commented on #128
Absolutely! Go for it. Feel free to open a new issue about this.

[2021-12-28 18:03] MadhavJivrajani commented on #128
@anirudhRowjee fyi - https://github.com/vladimirvivien/ktop